 <div class="page-content ">
    <form id="frmLogin" class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon ion-ios7-person-outline"></i></div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input name="cod_usuario" type="email" placeholder="{{idioma.loginname_placeholder}}">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon ion-ios7-locked-outline"></i></div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input name="clave" type="password" placeholder="{{idioma.password_placeholder}}">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
<div class="item-content">
        <a class="multi-language" href="js/pages/idioma/idioma.html">
                <div class="item-media"><i class="icon ion-ios7-world-outline"></i>&nbsp;&nbsp;
<span>{{idioma.language}}</span>
</div>
                
            </a>
</div>
        <div class="content-block login-btn-content">
                <a href="#" class="button button-big login-submit button-fill color-orange">{{idioma.login_btn}}</a>
        </div>

    </form>
    

    <div class="copyright">
        <a href="js/pages/register/register.html" class="login-singup">{{idioma.sign_up}}</a>&nbsp;&nbsp;|&nbsp;
        <a href="#" class="login-forgotpwd">{{idioma.forgot_pwd}}</a>
    </div>
</div>